a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
    color: #0A0A0A;
}

.header{
    background-color: #0a0a0a;
    padding: 32px 0;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.menu-item{
    margin-right: 30px;
}

.phone-div{
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
}

.headline{
    background-color: #F5F5F7;
    padding: 70px 0 40px;
    text-align: center;
}

.title{
    text-transform: uppercase;
    color: #490E84;
    margin: 0 0 40px;
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
}

.headline-img{
    margin: 0 0 25px;
}

.headline-btn{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.new{
    padding: 90px 0 150px;
}

.title-new,
.color-title{
    text-transform: uppercase;
    color: #717171;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 50px;
}

.info-new{
    display: flex;
    align-items: center;
}

.text-new{
    max-width: 560px;
}

.text-new p{
    margin: 0 0 30px 0;
}

.text-new b{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.new-img{
    margin-left: 190px;
}

.color{
    padding-bottom: 150px;
}

.color-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.color-item h3{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 20px 0 10px;
}

.color-item p{
    margin: 0;
}

.contacts-info{
    display: flex;
    background-color: #574B63;
    color: #fff;
}

.contacts-form{
    width: 100%;
    padding: 137px 93px;
    text-align: center;
}

.contact-title{
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 62px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.contact-input{
    margin: 0 0 20px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f5f5f5ff;
    background-color: #574B63;
}

.contact-input::placeholder{
    color: #fff;
    opacity: .5;
}

.contacts-form p{
    color: #fff;
    opacity: .5;
    margin: 30px 0;
}

.contacts-form button{
    border:none;
    text-transform: uppercase;
    font-weight: 700;
    color: #490E84;
    padding: 16px 80px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform .2s ease;
}

.contacts-form button:hover{
    transform: scale(1.3);
}